@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

#main-header {
    font-size: 4rem;
    text-align: center;
}

#search-holder {
    margin-left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

#kanji-input {
    padding: 8px 4px;
    font-size: 1.2rem;
}

#search-button {
    padding: 8px 8px;
    font-size: 1.2rem;
}

#theme-switch {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 16px;
    top: 16px;
    font-size: 1.2rem;
    padding: 0;
    border-radius: 100%;
}

#display-area {
    margin: 1em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em;
    border-radius: 0.5em;
}

.category-name {
    margin-top: 0px;
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-weight: bold;
}

#kanji-character {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(gray 2px 2px 4px);
    border-radius: 1em;
    margin-left: 50%;
    transform: translateX(-50%);
}

#kanji-character:hover {
    filter: drop-shadow(lightgray 2px 2px 4px);
}

#kanji-character > p {
    font-size: 8rem;
    margin: 0px;
    display: inline-block;
}

hr {
    width: 100%;
}



@media (max-width: 600px) {
    #main-header {
        font-size: 3rem;
    }
}



@media (max-width: 420px) {
    #main-header {
        margin-top: 1.2em;
        font-size: 2rem;
    }
    
}

.light {
    background-color: #f9f9f9;
    color: #323232;
}
.light2 {
    background-color: #e0e0e0;
    color: #323232;
}

.dark {
    background-color: #323232;
    color: #f9f9f9;
}
.dark2 {
    background-color: #565656;
    color: #f9f9f9;
}